# Node modules và build output
node_modules/
dist/
dist-ssr/

# Environment files
.env
*.local

# IDE & system files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
